@import "./_constants.css";

html {
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

a,
button {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 2px solid;
  padding: var(--link-spacing);
  border-radius: 5rem;
}

/** Utils */

.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
